<div class="settings">
  <h1>Settings</h1>

  <button mat-raised-button color="primary" matTooltip="Update info" routerLink="/profile/settings/update">
    <mat-icon>update</mat-icon>
    Update info
  </button>

  <button mat-raised-button color="accent" matTooltip="Change password" routerLink="/profile/settings/changePassword">
    <mat-icon>update</mat-icon>
    Change password
  </button>
  <button mat-raised-button color="warn" matTooltip="DELETE" (click)="onDelete()">
    <mat-icon>delete</mat-icon>
    Delete profile
  </button>
</div>
