<link href="../../../tailwind.css" rel="stylesheet" /> <!-- Подключение стилей Tailwind CSS -->
<!-- Контейнер полного контента тела -->
<div class="flex flex-col items-center min-h-screen dark:text-custom-white dark:bg-gray-700 justify-center">
  <!-- Контейнер настроек -->
  <div class="w-11/12 flex flex-col items-center max-w-6xl my-8 dark:bg-custom-dark rounded-3xl">
    <!-- Заголовок дэшборда -->
    <div class="w-full flex justify-between items-center px-6 py-4 dark:bg-gray-800 rounded-3xl shadow-md">
      <div>
        <p class="font-bold text-2xl mb-1 dark:text-custom-white">Settings</p>
        <p class="text-gray-400">Account settings</p>
      </div>
      <button class="bg-gray-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-gray-700 duration-300"
        routerLink="/profile">Back</button>
    </div>
    <!-- Контейнер кнопок / самих настроек -->
    <div class="w-3/5 md:w-2/5 my-4 p-5 mx-4 box-border flex flex-col justify-center">
      <!-- Кнопка обновления информации -->
      <button routerLink="/profile/settings/update"
        class="mb-4 dark:bg-custom-white dark:text-black dark:hover:bg-custom-white-dark-1 font-medium rounded-xl px-8 py-2 m-2 dark:shadow-md dark:shadow-gray-900 duration-200 transform">
        Personal information
      </button>
      <!-- Кнопка смены пароля -->
      <button routerLink="/profile/settings/changePassword"
        class="mb-4 dark:bg-custom-white dark:text-black dark:hover:bg-custom-white-dark-1 font-medium rounded-xl px-8 py-2 m-2 dark:shadow-md dark:shadow-gray-900 duration-200 transform">
        Change password
      </button>
      <!-- Кнопка удаления профиля -->
      <button (click)="onDelete()"
        class="bg-red-500 dark:text-custom-white hover:bg-red-600 font-medium rounded-xl px-8 py-2 m-2 dark:shadow-md dark:shadow-gray-900 duration-200 transform">
        Delete profile
      </button>
    </div>
  </div>
</div>