<link href="../../../tailwind.css" rel="stylesheet" />
<div class="flex flex-col items-center justify-center min-h-screen overflow-auto bg-gray-500 dark:custom-white dark:bg-gray-700">
  <div class="w-11/12 flex flex-col items-center max-w-5xl h-5/6 dark:bg-custom-dark rounded-3xl my-8 bg-custom-green-1100">
    <!-- Заголовок дэшборда -->
    <div class="w-full flex justify-between items-center px-6 py-4 dark:bg-gray-800 rounded-3xl shadow-md bg-custom-green-100 shadow-custom-green-200 dark:shadow-gray-900">
      <div>
        <p class="font-bold text-2xl mb-1 text-custom-white">Order information</p>
        <p class="text-white dark:text-gray-300">Your active order information</p>
      </div>
      <button class="bg-custom-white hover:bg-custom-white-dark-1 dark:bg-gray-600 dark:text-white px-4 py-2 rounded-lg shadow-md dark:hover:bg-gray-700 duration-300"
      (click)="goToHomePage()">Homepage</button>
    </div>

    <div class="max-w-5xl mx-auto my-10 p-5 bg-white rounded-lg shadow-lg"
      *ngIf="order && (order.status === 'CREATED' || order.status === 'IN_PROCESS'); else noActiveOrder">


      <h1 class="text-3xl font-bold text-center mb-6">Your Order</h1>
      <div class="border-b pb-4 mb-4">
        <p class="text-lg"><strong>Order ID:</strong> {{order.id}}</p>
        <p class="text-lg"><strong>Created at:</strong> {{date}}</p>
        <p class="text-lg"><strong>Total Sum:</strong> {{order.totalSum?.toFixed(2)}} EUR</p>
        <p class="text-lg"><strong>Status:</strong> {{order.status}}</p>
      </div>

      <div class="grid grid-cols-1 gap-4">
        <div *ngFor="let product of order?.products" class="bg-gray-100 p-4 rounded-lg flex items-center">
          <img [src]="product.illustration" alt="{{ product.name }}" class="w-24 h-24 rounded-lg mr-4" />
          <div class="flex-1 flex flex-col justify-center">
            <h2 class="text-xl font-semibold">{{ product.name }}</h2>
            <p class="text-gray-700 text-sm mb-2">{{ product.description }}</p>
            <div class="flex justify-between items-center">
              <p class="text-lg font-bold">Price: {{product.price}} EUR</p>
              <p class="text-lg">Quantity: {{ product.count }}</p>
            </div>
          </div>
        </div>
      </div>
      <button *ngIf="order?.status === 'CREATED'" class="mt-4 bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600 duration-300"
        (click)="cancelOrder()">Cancel Order</button>
    </div>


    <ng-template #noActiveOrder>
      <div class="max-w-5xl mx-auto my-10 p-5 rounded-lg text-center dark:text-custom-white">
        <p class="text-xl font-bold mb-6">You don't have active order</p>
        <button class="dark:bg-custom-white dark:text-black py-2 px-4 rounded transition-transform transform hover:scale-105 duration-300" (click)="goToHomePage()">Go to homepage</button>
      </div>
    </ng-template>
  </div>
</div>
