<link href="../../../tailwind.css" rel="stylesheet" />
<div class="flex flex-col items-center justify-center min-h-screen overflow-auto bg-gray-500 dark:custom-white dark:bg-gray-700">
  <div class="w-11/12 flex flex-col items-center max-w-5xl h-5/6 dark:bg-custom-dark rounded-3xl my-8 bg-custom-green-1100">
    <!-- Заголовок дэшборда -->
    <div class="w-full flex justify-between items-center px-6 py-4 dark:bg-gray-800 rounded-3xl shadow-md bg-custom-green-100 shadow-custom-green-200 dark:shadow-gray-900">
      <div>
        <p class="font-bold text-2xl mb-1 text-custom-white">Address information</p>
        <p class="text-white dark:text-gray-300">Please enter your address</p>
      </div>
      <button
        class="bg-gray-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-gray-700 duration-300"
        onclick="window.history.back()">Back</button>
    </div>
    <div class="w-3/5 md:w-2/5 my-4 p-5 mx-4 box-border flex justify-center">
      <form [formGroup]="addressForm" class="w-full flex flex-col" (submit)="onSubmit()">
        <label class="block mb-1 text-base dark:text-custom-white font-medium">Country</label>
        <input class="flex-grow px-3 py-2 focus:outline-none transition-transform transform hover:scale-105 bg-gray-300 mb-6 p-1 rounded-lg  dark:shadow-sm dark:shadow-gray-800" placeholder="Country"
          formControlName="country" />
        <br />
        <label class="block mb-1 text-base dark:text-custom-white font-medium">City</label>
        <input class="flex-grow px-3 py-2 focus:outline-none transition-transform transform hover:scale-105 bg-gray-300 mb-6 p-1 rounded-lg  dark:shadow-sm dark:shadow-gray-800" placeholder="City" formControlName="city" />
        <br />
        <label class="block mb-1 text-base dark:text-custom-white font-medium">Street</label>
        <input class="flex-grow px-3 py-2 focus:outline-none transition-transform transform hover:scale-105 bg-gray-300 mb-6 p-1 rounded-lg  dark:shadow-sm dark:shadow-gray-800" placeholder="Street"
          formControlName="street" />
        <br />
        <label class="block mb-1 text-base dark:text-custom-white font-medium">House</label>
        <input class="flex-grow px-3 py-2 focus:outline-none transition-transform transform hover:scale-105 bg-gray-300 mb-6 p-1 rounded-lg  dark:shadow-sm dark:shadow-gray-800" placeholder="House" formControlName="house" />
        <br />
        <label class="block mb-1 text-base dark:text-custom-white font-medium">Postcode</label>
        <input class="flex-grow px-3 py-2 focus:outline-none transition-transform transform hover:scale-105 bg-gray-300 mb-6 p-1 rounded-lg  dark:shadow-sm dark:shadow-gray-800" placeholder="Postcode"
          formControlName="postcode" />
        <br />
        <label class="block mb-1 text-base dark:text-custom-white font-medium">Country Code</label>
        <input class="flex-grow px-3 py-2 focus:outline-none transition-transform transform hover:scale-105 bg-gray-300 mb-6 p-1 rounded-lg  dark:shadow-sm dark:shadow-gray-800" placeholder="Country Code"
          formControlName="countrycode" />
        <br />
        <button type="submit" [disabled]="!addressForm.valid" class="px-4 py-2 bg-gray-800 text-custom-white font-medium hover:bg-gray-900 duration-300 dark:shadow-sm dark:shadow-gray-800 rounded-lg">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
