<link href="../../../tailwind.css" rel="stylesheet" />
<div class="flex flex-col items-center justify-center h-screen bg-custom-black">
  <div class="w-11/12 flex flex-col items-center max-w-5xl h-5/6 max-h-750 bg-custom-green rounded-3xl">
    <div class="flex items-center w-full rounded-t-3xl bg-custom-blue p-5">
      <div class="flex-1">
        <div class="font-semibold text-custom-white">
          <a routerLink="/cart" class="cursor-pointer">
            Back
          </a>
        </div>
      </div>
      <div class="flex-1 text-center">
        <p class="text-base font-semibold text-custom-white">
          Address information
        </p>
      </div>
      <div class="flex-1 invisible">
        <span class="text-base font-semibold">Back</span>
      </div>
    </div>
    <div class="w-3/5 md:w-2/5 my-4 p-5 mx-4 box-border flex justify-center">
      <form [formGroup]="addressForm" class="w-full flex flex-col" (submit)="onSubmit()">
        <label class="block mb-1 text-base">Country</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="Country" formControlName="country" />
        </mat-form-field>
        <br />
        <label class="block mb-1 text-base">City</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="City" formControlName="city" />
        </mat-form-field>
        <br />
        <label class="block mb-1 text-base">Street</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="Street" formControlName="street" />
        </mat-form-field>
        <br />
        <label class="block mb-1 text-base">House</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="House" formControlName="house" />
        </mat-form-field>
        <br />
        <label class="block mb-1 text-base">Postcode</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="Postcode" formControlName="postcode" />
        </mat-form-field>
        <br />
        <label class="block mb-1 text-base">Country Code</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="Country Code" formControlName="countrycode" />
        </mat-form-field>
        <br />
        <button mat-raised-button color="basic" type="submit" [disabled]="!addressForm.valid" class="mb-4">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
