ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

}

li{
  width: 80%;
  height: 15rem;
  border: 1px solid whitesmoke;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  overflow: hidden;
  color: black;
}

ul li a{

}

li a:hover{
  opacity: 0.5;
  cursor: pointer;
}
.content{
  position: relative;
}

.image{
  text-align: center;
}

.remove-from-cart-div{
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-clr{
  background-color: forestgreen;
}

.clear-cart-div,
.create-order{
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

