<link href="../../tailwind.css" rel="stylesheet" /> <!-- Подключение стилей Tailwind CSS -->
<!-- Контейнер полного контента тела -->
<div class="flex flex-col items-center min-h-screen bg-custom-black"> <!-- тест: убран justify-center -->
  <!-- Контейнер корзины -->
  <div class="w-11/12 flex flex-col items-center max-w-6xl bg-custom-green rounded-3xl my-8">
    <!-- Заголовок корзины -->
    <div class="flex flex-col w-full m-4 px-8">
      <p class="font-bold text-2xl">Cart</p>
      <p>{{ cartItems.length }} item(s) in cart</p>
    </div>
    <!-- Содержание корзины -->
    <div class="flex flex-col w-full my-1 p-4 mx-4 box-border">
      <!-- Пустая корзина -->
      <div *ngIf="!cartItems || !cartItems.length" class="justify-center text-center items-center flex flex-row">
        <div>
          <p class="font-bold text-xl my-3">There are no items in your cart</p>
          <p>
            <span routerLink="/" class="text-custom-white cursor-pointer">Go to the main page</span>
            or use the search to find the product you are looking for
          </p>
          <button routerLink="/" class="bg-custom-white rounded-xl py-2 px-6 my-6 text-l">
            Start shopping
          </button>
        </div>
        <img [src]="sadBananaPath" alt="Sad Banana" class=" size-96">
      </div>
      <!-- Контейнер продукта -->
      <div *ngFor="let product of cartItems"
        class="my-2 mx-4 bg-custom-green-dark-1 rounded-xl text-custom-white flex flex-col sm:flex-row items-center justify-between">
        <!-- Левая: иллюстрация, название, описание -->
        <div class="flex flex-row items-center w-full sm:w-auto">
          <!-- Иллюстрация продукта -->
          <div class="flex flex-row">
            <img [src]="product.illustration" alt="{{ product.name }}" class="rounded-xl w-24 h-24 mr-4" />
          </div>
          <!-- Информация к продукту -->
          <div class="flex flex-col justify-center">
            <div class="flex flex-row">
              <p>{{ product.name }}</p>
            </div>
            <div class="flex-row text-xs text-custom-white-dark-1 hidden lg:flex">
              <p>{{ product.description }}</p>
            </div>
          </div>
        </div>
        <!-- Правая: количество продукта и кнопки -->
        <div class="flex flex-col sm:flex-row mr-0 mx-0 mt-2 sm:mr-4 sm:mt-2 text-left sm:text-center sm:items-center">
          <div
            class="flex flew-row sm:flex-col my-2 sm:my-auto sm:mx-4 min-w-64 justify-between items-center sm:justify-normal">
            <!-- Контейнер с суммой -->
            <div class="text-sm sm:text-base">
              Price: {{ roundPrice(product.price * product.count) }} EUR
            </div>
            <!-- Контейнер с кнопками для увелечения или уменьшения на 1 и количество -->
            <div class="my-2 sm:my-3">
              <div class="flex flex-row">
                <button (click)="decreaseCount(product.id)"
                  class="px-3 py-1 sm:px-4 rounded-l-full border-r-2 border-custom-green-dark-1 bg-custom-green-dark-2">
                  -
                </button>
                <div class="px-3 py-1 sm:px-4 text-sm sm:text-base w-10 flex justify-center">
                  {{ product.count }}
                </div>
                <button (click)="increaseCount(product.id)"
                  class="px-3 py-1 sm:px-4 rounded-r-full bg-custom-green-dark-2">
                  +
                </button>
              </div>
              <div class="text-sm sm:text-base">
                On warehouse: {{ getProductWarehouseCount(product.id) }}
              </div>
            </div>
          </div>
          <div>
            <img [src]="removeIconPath" (click)="removeFromCart(product.id)"
              class="cursor-pointer size-6 hidden sm:flex" alt="Remove from cart">
          </div>

        </div>
        <div (click)="removeFromCart(product.id)"
          class="cursor-pointer flex flex-col text-center font-semibold text-red-900 text-base sm:hidden bg-custom-green-dark-2 w-full rounded-b-xl">
          Remove from cart
        </div>
      </div>
      <!-- Контейнер справа под продуктами -->
      <div class="flex justify-end my-4">
        <!-- Общая сумма корзины -->
        <div class="font-semibold items-center flex mr-4" *ngIf="cartItems.length > 0">
          Total price: {{ totalPrice }} EUR
        </div>
        <!-- Кнопка очистки корзины -->
        <div class="items-center flex mr-4">
          <button *ngIf="cartItems.length > 0" (click)="clearCart()" class="bg-custom-white rounded-xl px-4 py-2">
            Clear cart
          </button>
        </div>
      </div>
      <!-- Кнопка заказа (перейти к покупке) -->
      <div class="flex justify-center">
        <button *ngIf="cartItems.length > 0" (click)="createOrder(cartItems)"
          class="bg-custom-white rounded-xl px-4 py-2">
          Place an order
        </button>
      </div>

    </div>




  </div>
</div>
