<link href="../../../tailwind.css" rel="stylesheet" /> <!-- Подключение стилей Tailwind CSS -->
<!-- Контейнер полного контента тела -->
<div class="flex flex-col items-center justify-center h-screen bg-custom-black">
  <!-- Контейнер с формой для правки профильных данных -->
  <div class="w-11/12 flex flex-col items-center max-w-5xl h-5/6 max-h-750 bg-custom-green rounded-3xl">
    <!-- Меню навигации -->
    <div class="flex items-center w-full rounded-t-3xl bg-custom-blue p-5">
      <!-- Левая колонка для кнопки "Назад" -->
      <div class="flex-1">
        <div class="font-semibold text-custom-white">
          <a routerLink="/profile/settings" class="cursor-pointer">
            Back
          </a>
        </div>
      </div>
      <!-- Центральная колонка для текста навигации -->
      <div class="flex-1 text-center">
        <p class="text-base font-semibold text-custom-white">
          Profile information <!-- {{ username }} -->
        </p>
      </div>
      <!-- Правая колонка, пустая, для баланса -->
      <div class="flex-1 invisible">
        <span class="text-base font-semibold">Back</span> <!-- Невидимый элемент, который занимает место -->
      </div>
    </div>
    <!-- Форма обновления данных пользователя -->
    <div class="w-3/5 md:w-2/5 my-4 p-5 mx-4 box-border flex justify-center">
      <form [formGroup]="updateForm" class="w-full flex flex-col" (submit)="updateUser()">
        <label class="block mb-1 text-base" for="firstName">First name</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="First name" formControlName="firstName" />
        </mat-form-field>  
        <br />
        <label class="block mb-1 text-base" for="lastName">Last name</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="Last name" formControlName="lastName" />
        </mat-form-field>
        <br />
        <label class="block mb-1 text-base" for="email">Email</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <br />
        <label class="block mb-1 text-base" for="address">Address</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="Address" formControlName="address" />
        </mat-form-field>
        <br />
        <label class="block mb-1 text-base" for="phoneNumber">Phone number</label>
        <mat-form-field class="w-full mb-2">
          <input matInput placeholder="Phone number" formControlName="phoneNumber" />
        </mat-form-field>
        <br />
        <!-- Кнопка редактирования -->
        <button mat-raised-button color="basic" type="button" class="mb-4">
          Edit
        </button>
        <!-- Кнопка обновления -->
        <button mat-raised-button color="basic" type="submit" class="mb-4">
          Update
        </button>
      </form>
    </div>
  </div>
</div>