#login-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  height: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.mat-form-field {
  width: 50%;
  margin-bottom: 20px;
}

.mat-input-element {
  padding: 0 10px;
}

input.mat-input-element {
  border-radius: 10px;
  height: 45px;
  padding: 8px 12px;
  box-sizing: border-box;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-text-field-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mat-mdc-form-field-focus-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input.mat-mdc-input-element {
  height: 100%;
  align-self: center;
}

.qsubmit {
  background-color: #425157 !important;
  color: #F2E5D7 !important;
  width: 100%;
  border-radius: 10px;
  height: 40px;
}

.qlogo {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2E5D7;
  border-radius: 30px;
  padding: 20px;
}

.qlogo img {
  margin-bottom: -80px;
}

.qlogo p {
  margin-bottom: 140px;
  font-weight: 600;
  font-size: 20px;
}

.qform {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#login-form input,
#login-form button {
  background-color: #F2E5D7;
  border-radius: 10px;
  border: none;
}

.requirements {
  margin-top: 0;
  color: #F2E5D7;
  font-size: 14px;
  /* font-weight: 700; After checking */
  margin-bottom: 16px;
  padding: 0 8px;
}

.requirements ul {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
}

.marker {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.marker.completed {
  background-color: #F2E5D7;
  font-weight: 700;
}

.requirements li::before {
  display: none;
  content: "\2022";
  margin-right: 10px;
  color: #ccc;
}

.bold {
  font-weight: 700;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-underline {
  background-color: transparent;
  /* Убираем красный цвет */
}


.sign-in-container,
a {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  color: #F2E5D7;
  font-size: 16px;
  font-weight: 600;
}


#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  /* Черный текст с 50% прозрачности */
}

@media (min-width: 1920px) {
  #login-component {
    width: 100%;
    height: 100%;
  }

  #login-form {
    max-width: 1110px;
    height: 750px;
    background-color: #5C8083;
    border-radius: 30px;
    color: #000000;
  }
}

/* Create account */
h1 {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}