<div id="login-component">
  <div id="login-form">
    <h1>Create account</h1>
    <form [formGroup]="registerFormular" (ngSubmit)="onSubmitRegister()">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex: example@example.example" value="" formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex: example_username" value="" formControlName="username">
      </mat-form-field>

      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Ex: Hard password" value="" formControlName="password">
      </mat-form-field>

      <br>
      <button mat-raised-button color="basic" matTooltip="Sign up" type="submit" [disabled]="!registerFormular.valid">SIGN UP</button>
    </form>
    <br>
  </div>
</div>
