<link href="../../../tailwind.css" rel="stylesheet" />

<!-- Контейнер полного контента тела -->
<div class="flex flex-col items-center min-h-screen dark:text-custom-white dark:bg-gray-700 justify-center">
  <!-- Контейнер админ дэшборда -->
  <div class="w-11/12 flex flex-wrap items-center max-w-6xl my-8 dark:bg-custom-dark rounded-3xl pb-8">
    <!-- Заголовок дэшборда -->
    <div class="w-full flex justify-between items-center px-6 py-4 dark:bg-gray-800 rounded-3xl shadow-md">
      <div>
        <p class="font-bold text-2xl mb-1 dark:text-custom-white">Orders history</p>
        <p class="text-gray-400">Your orders history</p>
      </div>
      <button class="bg-gray-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-gray-700 duration-300"
        onclick="window.history.back()">Back</button>
    </div>

    <!-- Список заказов -->
    <div class="w-full px-2 m-">
      <ul>
        <li *ngFor="let order of orders; let i = index" class="bg-gray-800 p-4 mx-6 my-8 rounded-xl flex flex-col dark:text-white dark:shadow-md dark:shadow-gray-900">
          <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
            <div class="space-y-2 mb-4 md:mb-0">
              <div class="font-bold text-red-500">Order Id: {{ order.id }}</div>
              <div class="font-bold">Date: {{ formatDate(order.date) }}</div>
              <div class="font-bold">Status:
                <span *ngIf="order.status == 'COMPLETED'" class="text-green-500 font-semibold">{{ order.status }}</span>
                <span *ngIf="order.status == 'CREATED'" class="text-yellow-500 font-semibold">{{ order.status }}</span>
                <span *ngIf="order.status == 'IN_PROCESS'" class="text-blue-500 font-semibold">IN PROCESS</span>
                <span *ngIf="order.status == 'CANCELED'" class="text-red-500 font-semibold">{{ order.status }}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
