<div id="update-section">
  <div id="update-form">
    <h1>Change {{ username }}'s password</h1>
    <form [formGroup]="passwordForm" class="update-form" (submit)="changePassword()">
      <mat-form-field class="example-full-width">
        <mat-label>Current password</mat-label>
        <input type="password" matInput placeholder="Current password" formControlName="currentPassword">

      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>New password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
      </mat-form-field>
      <br>
      <button mat-raised-button color="basic" matTooltip="Update" type="submit">Change</button>
    </form>
  </div>
</div>
<div class="mat-errors">
  <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required')">Current password is required</mat-error>
  <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">New password is required</mat-error>
  <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">New password has to contain minimal 5 characters</mat-error>
  <mat-error *ngIf="passwordForm.get('password')?.hasError('pattern')">New password has to contain at least one uppercase letter</mat-error>
  <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">Confirm password is required</mat-error>
</div>
