<link href="../../../tailwind.css" rel="stylesheet" /> <!-- Подключение стилей Tailwind CSS -->
<!-- Контейнер полного контента тела -->
<div class="flex flex-col items-center justify-center h-screen bg-custom-black">
  <!-- Контейнер с формой для обновления пароля -->
  <div class="w-11/12 flex flex-col items-center max-w-5xl h-5/6 max-h-750 bg-custom-green rounded-3xl">
    <!-- Меню навигации -->
    <div class="flex items-center w-full rounded-t-3xl bg-custom-blue p-5">
      <!-- Левая колонка для кнопки "Назад" -->
      <div class="flex-1">
        <div class="font-semibold text-custom-white">
          <a routerLink="/profile/settings" class="cursor-pointer">
            Back
          </a>
        </div>
      </div>
      <!-- Центральная колонка для текста навигации -->
      <div class="flex-1 text-center">
        <p class="text-base font-semibold text-custom-white">
          Change password
        </p>
      </div>
      <!-- Правая колонка, пустая, для баланса -->
      <div class="flex-1 invisible">
        <span class="text-base font-semibold">Back</span> <!-- Невидимый элемент, который занимает место -->
      </div>
    </div>
    <!-- Форма обновления пароля -->
    <div class="w-3/5 md:w-2/5 my-4 p-5 mx-4 box-border flex justify-center">
      <form [formGroup]="passwordForm" class="w-full flex flex-col" (submit)="changePassword()">
        <label class="block mb-1 text-base" for="firstName">Current Password</label>
        <mat-form-field class="w-full mb-2">
          <input type="password" matInput placeholder="Current password" formControlName="currentPassword">
        </mat-form-field>
        <br />
        <label class="block mb-1 text-base" for="firstName">Password</label>
        <mat-form-field class="w-full mb-2">
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <br />
        <label class="block mb-1 text-base" for="firstName">Confirm password</label>
        <mat-form-field class="w-full mb-2">
          <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
        </mat-form-field>
        <br />
        <button mat-raised-button color="basic" matTooltip="Update" type="submit" class="mb-4">Change</button>
      </form>
    </div>
    <!-- Контейнер ошибок, который нужно переделать в контейнер требований -->
    <div class="mat-errors">
      <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required')">Current password is
        required</mat-error>
      <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">New password is required</mat-error>
      <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">New password has to contain minimal 5
        characters</mat-error>
      <mat-error *ngIf="passwordForm.get('password')?.hasError('pattern')">New password has to contain at least one
        uppercase letter</mat-error>
      <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">Confirm password is
        required</mat-error>
    </div>
  </div>

</div>