<link href="../../../tailwind.css" rel="stylesheet" /> <!-- Подключение стилей Tailwind CSS -->
<!-- Контейнер полного контента тела -->
<div class="flex flex-col justify-center items-center h-screen bg-custom-green-1200 dark:bg-gray-700">
  <!-- Контейнер (окно) авторизации -->
  <div class="w-full flex flex-row items-center max-w-6xl h-5/6 max-h-750 dark:bg-gray-800 rounded-3xl my-8 bg-custom-green-100">
    <!-- Форма авторизации -->
    <div class="w-full md:w-3/5 p-5 box-border flex items-center justify-center flex-col">
      <form [formGroup]="loginFormular" (ngSubmit)="onSubmitLogin()" class="w-3/5 flex flex-col">
        <h1 class="text-2xl font-semibold w-full text-center mb-5 dark:text-custom-white">
          Authorization
        </h1>
        <label class="block mb-1 text-base dark:text-custom-white font-medium" for="username">Username</label>
          <input class="flex-grow px-3 py-2 focus:outline-none transition-transform transform hover:scale-105 bg-gray-300 mb-6 p-1 rounded-lg dark:shadow-sm dark:shadow-gray-800" id="username" placeholder="Enter your username" formControlName="username" />
        <br />
        <label class="block mb-1 text-base dark:text-custom-white font-medium" for="password">Password</label>
          <input class="flex-grow px-3 py-2 focus:outline-none transition-transform transform hover:scale-105 bg-gray-300 mb-6 p-1 rounded-lg dark:shadow-sm dark:shadow-gray-800" type="password" id="password" placeholder="Enter your password" formControlName="password" />
        <br />
        <!-- Кнопка авторизации -->
        <button type="submit" [disabled]="!loginFormular.valid"
          class="px-4 py-2 bg-gray-600 text-gray-500 enableed:text-custom-white-light-1 enabled:bg-gray-700 enabled:text-custom-white font-medium enabled:hover:bg-gray-900 duration-300 enabled:dark:shadow-sm enabled:dark:shadow-gray-900 rounded-lg my-2">
          LOG IN
        </button>
      </form>
      <br />
      <!-- Ссылка на регистрацию -->
      <div id="signup-link" class="text-center text-custom-white font-semibold">
        <p>Don't have an account?</p>
        <a routerLink="/signup" class="underline">Sign up</a>
      </div>
    </div>
    <!-- Логотип и промо-текст -->
    <div class="hidden md:flex w-2/5 h-full flex-col items-center justify-center bg-custom-white rounded-3xl">
      <img class="size-48" src="assets/logo/logo-black.svg" alt="logo" />
      <p class="font-semibold text-xl mb-20">The grocery shop you deserve.</p>
    </div>
  </div>
</div>