
  <div class="profile-sidebar">
    <div class="username">
      <h1>Welcome, {{ username }}</h1></div>
    <div class="profile-links">
      <button routerLink="/profile/settings" mat-raised-button color="primary" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
        Settings
      </button>
      <button mat-raised-button color="accent" matTooltip="Show order story">
        <mat-icon>history</mat-icon>
        Show order story
      </button>
      <button mat-raised-button color="warn" matTooltip="LOGOUT" (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        LOG OUT
      </button>
      <button mat-raised-button color="warn" matTooltip="DELETE" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        Delete profile
      </button>
    </div>
  </div>



