<div class="head">
    <h1>
      Add product page
    </h1>
</div>
<div class="container">
  <form [formGroup]="addProductForm" class="mat-form-field" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Product name to add</mat-label>
      <input matInput placeholder="" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Price of the product</mat-label>
      <input matInput placeholder="" formControlName="price">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Description of the product</mat-label>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Quantity of the product</mat-label>
      <input matInput placeholder="Quantity" formControlName="count">
    </mat-form-field>
    <br>
    <button mat-raised-button color="green" type="submit" id="add_button">Add</button>
  </form>
</div>
