.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width{
  width: 100%;
}

.image-upload{
  text-align: center;
  background-color: antiquewhite;
}

#add_button{
  background: rgba(96, 136, 120, 0.7);
}

.add-btn{
  text-align: center;
}

.container{
  margin-top: 2%;
}

.head {
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 40%;
  margin-top: 2%;
}
