

:root {
  --mat-form-field-container-height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Albert Sans', sans-serif;
}

/* Удаление отступов и изменение цвета фона для заполненных текстовых полей */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #F2E5D7 !important;
  padding: 0 !important;
  border-radius: 6px; 
  height: 2.8rem;
}

/* Хуйня для полей ввода. Изменять запрещено */
.mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
  background-color: #F2E5D7 !important;
  height: 2.8rem !important;
}