:root {
  --mat-form-field-container-height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Albert Sans', sans-serif;
}

/* Удаление отступов и изменение цвета фона для заполненных текстовых полей */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #F2E5D7 !important;
  padding: 0 !important;
  border-radius: 6px; 
  height: 2.8rem;
}

/* Хуйня для полей ввода. Изменять запрещено */
.mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
  background-color: #F2E5D7 !important;
  height: 2.8rem !important;
}



/* Header: dark-light */

header.dark-mode {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));

  --tw-text-opacity: 1;
  color: rgb(242 229 215 / var(--tw-text-opacity));
}

header.light-mode {
  --tw-bg-opacity: 1;
  background-color: rgb(92 128 131 / var(--tw-bg-opacity));

  --tw-text-opacity: 1;
  color: rgb(242 229 215 / var(--tw-text-opacity));
}

/* Footer: dark-light */

footer.dark-mode {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));

  --tw-text-opacity: 1;
  color: rgb(242 229 215 / var(--tw-text-opacity));
}

footer.light-mode {
  --tw-bg-opacity: 1;
  background-color: rgb(92 128 131 / var(--tw-bg-opacity));

  --tw-text-opacity: 1;
  color: rgb(242 229 215 / var(--tw-text-opacity));
}

/* Main: dark-light */
