/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Albert Sans', sans-serif;
}

/* Background */
body {
  background-color: #4B5966;
}

/* Удаление отступов и изменение цвета фона для заполненных текстовых полей */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  padding: 0 !important; /* Убираем внутренние отступы */
  background-color: #F2E5D7 !important; /* Устанавливаем нужный цвет фона */
  border-radius: 6px;
  height: 45px;
}

/* Применяем стиль к элементу ввода внутри поля */
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  padding: 0 !important; /* Убираем внутренние отступы */
}

.mat-mdc-form-field-infix {
  padding: 10px;
  width: 20vw !important;
  background-color: #F2E5D7 !important;
  height: 45px !important;
}