<link href="../../tailwind.css" rel="stylesheet" /> <!-- Подключение стилей Tailwind CSS -->
<div class="relative items-center justify-betwee text-base p-4
  mx-auto px-4 sm:px-6 lg:px-8 max-w-2xl">
  <div class="flex flex-row">
    <input
    type="text"
    [formControl]="searchControl"
    placeholder="Search for products"
    class="form-input block w-full px-3 py-2 mx-2 border border-gray-300 rounded-md text-gray-900 leading-5 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
    (keyup.enter)="search(searchControl.value)"  
  >
  <button (click)="search(searchControl.value)" class="px-4 py-2 bg-blue-500 text-white rounded">Search</button>
  </div>
  
  <div class="absolute w-full mt-1 rounded-md bg-white shadow-lg z-10" *ngIf="products && products.length > 0">
    <ul class="max-h-60 overflow-auto">
      <li *ngFor="let product of products" class="p-2 hover:bg-gray-100 cursor-pointer">
        {{ product.name }} - ${{ product.price }}
      </li>
    </ul>
  </div>
  <div class="absolute w-full mt-1 rounded-md bg-white shadow-lg z-10" *ngIf="products && products.length === 0 && searchControl.value">
    <p class="p-2 text-gray-500">No products found.</p>
  </div>
</div>
