<app-search></app-search>
<ul>
  <li *ngFor="let product of products">
      <div class="content">
        <div class="add-to-cart-div">
          <button mat-fab color="primary" class="btn-clr" (click)="addToCart(product)">
            Add to cart
          </button>
        </div>
        <a>
        <div class="name">
          {{ product.name }}
        </div>
        <div class="description">
          {{ product.description }}
        </div>
        <div class="price">
          {{ product.price }}$
        </div>
        <div class="image">
          <img [src]="product.illustration" alt="{{product.name}}" height="128px" width="128px">
        </div>
        </a>
      </div>
  </li>
</ul>
