<link href="../../tailwind.css" rel="stylesheet" /> <!-- Подключение стилей Tailwind CSS -->

<div>
  <app-search (searchResults)="onSearchResults($event)" (searchTermChange)="onSearchTermChange($event)"
    (categorySelected)="onCategorySelected($event)"></app-search>
</div>
<!-- Контейнер полного контента тела -->
<div class="flex flex-col items-center min-h-screen overflow-auto">
  <!-- Описание продуктов. Pop-up при нажатии на продукт -->
  <app-product-details [product]="selectedProduct"></app-product-details>

  <!-- Маркетинговый контейнер -->
  <div *ngIf="showMarketing"
    class="w-full max-w-6xl rounded-3xl my-8 overflow-hidden transition-all duration-300 ease-in-out">
    <div class="relative w-full h-64 dark:bg-gray-800 dark:text-white">
      <div class="absolute inset-1 flex items-top justify-left mt-8 ml-8">
        <div class="text-center">
          <h2 class="text-3xl font-bold mb-4">Special Offers</h2>
          <p class="text-xl">Don't miss out on our exclusive deals...</p>
        </div>
      </div>
      <img [src]="currentSlideImage" alt="Marketing Image" class="w-full h-full object-cover opacity-50">
    </div>
    <div class="flex justify-between mt-1">
      <button (click)="previousSlide()"
        class="dark:bg-gray-800 dark:hover:bg-gray-900 duration-300 dark:text-custom-white font-medium px-4 py-2 rounded">
        <img [src]="previousIconPath" alt="Previous" class="size-4">
      </button>
      <button (click)="nextSlide()"
        class="dark:bg-gray-800 dark:hover:bg-gray-900 duration-300 dark:text-custom-white font-medium px-4 py-2 rounded">
        <img [src]="nextIconPath" alt="Next" class="size-4">
      </button>
    </div>
  </div>

  <!-- Контейнер с продуктами по категориям -->
  <div *ngIf="!selectedCategory && !isSearching; else resultsView"
    class="w-11/12 flex flex-col items-center max-w-6xl rounded-3xl my-8">
    <ng-container *ngFor="let category of categories">
      <!-- Заголовок категории -->
      <div class="flex flex-col w-full m-2 px-2 text-custom-white">
        <p class="font-bold text-2xl">{{ category }}</p>
      </div>
      <!-- Список продуктов -->
      <div class="relative w-full overflow-hidden mb-10">
        <div
          class="flex overflow-x-auto space-x-4 scrollbar-thin scrollbar-thumb-custom-green scrollbar-track-gray-800 p-2 category-container pb-6 scroll-smooth"
          (scroll)="checkScroll($event, category)">
          <!-- Контейнер продукта -->
          <div *ngFor="let product of categorizedProducts[category]"
            class="flex-none rounded-xl dark:text-white overflow-hidden dark:bg-gray-500 w-56 transition-opacity duration-300 relative group hover:shadow-lg">
            <!-- Иллюстрация продукта -->
            <div class="aspect-square w-full relative">
              <img [src]="product.illustration" alt="{{ product.name }}"
                class="object-cover w-full h-full rounded-t-xl" />
              <div
                class="absolute inset-0 flex items-center justify-center dark:bg-black dark:bg-opacity-50 dark:opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                <button (click)="selectProduct(product)"
                  class="dark:bg-gray-700 dark:text-custom-white font-bold py-2 px-4 rounded duration-300 dark:hover:bg-gray-800">Details</button>
              </div>
            </div>
            <!-- Информация о продукте -->
            <div class="flex flex-col text-left my-1 p-1">
              <!-- Название продукта -->
              <div class="p-1 text-custom-white font-medium">{{ product.name }}</div>
              <!-- Цена продукта -->
              <div class="dark:text-gray-800 font-semibold p-1">{{ product.price }} EUR</div>
            </div>
            <!-- Кнопка добавления в корзину -->
            <div
              class="dark:bg-gray-700 rounded-xl dark:text-custom-white font-semibold m-1 py-2 text-center dark:hover:bg-gray-800 duration-300">
              <button (click)="addToCart(product.id); $event.stopPropagation()">
                Add to cart
              </button>
            </div>
          </div>
        </div>
        <!-- Градиентный эффект справа -->
        <div *ngIf="showGradient[category]"
          class="absolute top-0 right-0 w-24 h-full bg-gradient-to-l dark:from-gray-700 to-transparent pointer-events-none">
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Отображение результатов поиска или выбранной категории -->
  <ng-template #resultsView>
    <div class="w-11/12 flex flex-col items-center max-w-6xl rounded-3xl my-8">
      <!-- Заголовок и кнопка "Назад" -->
      <div class="flex items-center justify-between w-full m-2 px-2 dark:text-custom-white text-center">
        <p class="font-bold text-2xl justify-center">{{ displayHeader }}</p>
        <button (click)="clearCategory()"
          class="dark:bg-gray-800 dark:text-white px-4 py-2 rounded mt-2 m-2 dark:hover:bg-gray-900 duration-300">Back</button>
      </div>
      <!-- Список продуктов -->
      <div
        class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 w-full м-2 px-2 box-border text-center">
        <!-- Контейнер продукта -->
        <div *ngFor="let product of displayProducts"
          class="rounded-xl dark:text-white overflow-hidden dark:bg-gray-500 transition-opacity group duration-300 hover:shadow-lg">
          <!-- Иллюстрация продукта -->
          <div class="aspect-square w-full relative">
            <img [src]="product.illustration" alt="{{ product.name }}"
              class="object-cover w-full h-full rounded-t-xl" />
            <div
              class="absolute inset-0 flex items-center justify-center dark:bg-black dark:bg-opacity-50 dark:opacity-0 group-hover:opacity-100 transition-opacity duration-300">
              <button (click)="selectProduct(product)"
                class="dark:bg-gray-700 dark:text-custom-white font-bold py-2 px-4 rounded duration-300 dark:hover:bg-gray-800">Details</button>
            </div>
          </div>
          <!-- Информация о продукте -->
          <div class="flex flex-col text-left my-1 p-1">
            <!-- Название продукта -->
            <div class="p-1 dark:text-custom-white font-medium">{{ product.name }}</div>
            <!-- Цена продукта -->
            <div class="dark:text-gray-800 font-semibold p-1">{{ product.price }} EUR</div>
          </div>
          <!-- Кнопка добавления в корзину -->
          <div
            class="dark:bg-gray-700 rounded-xl dark:text-custom-white font-semibold m-1 py-2 text-center dark:hover:bg-gray-800 duration-300">
            <button (click)="addToCart(product.id); $event.stopPropagation()">
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>