ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

}

ul li a{
  height: 15rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  overflow: hidden;
  color: black;
}

li a:hover{
  opacity: 0.5;
  cursor: pointer;
}
.content{
  position: relative;
}

.price{
  color: slategray;
  margin-top: .7rem;
}

.image{
  text-align: center;
  background-color: #45545B;
  height: 9rem;
}

.add-to-cart-div{
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-clr{
  background-color: forestgreen;
}
